# ide directory
.idea/

# for development
.tmp/
.local/

# built artifacts, no matter code or doc
dist/
docs/_build/
src/dnois.egg-info/

# sphinx autosummary stub
docs/content/generated

# private resources
tests/resources/material/agf/
